<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Welcome to HyperDev!</title>
        <meta name="description" content="A cool thing made with HyperDev" />
        <link
            id="favicon"
            rel="icon"
            href="https://hyperdev.com/favicon-app.ico"
            type="image/x-icon"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/public/style.css" />
    </head>
    <body>
        <style>
            .bigInput {
                width: 320px;
                margin-bottom: 3px;
            }

            textarea {
                width: 320px;
                height: 100px;
            }

            .smallInput {
                width: 100px;
            }

            hr {
                margin: 50px;
                margin-top: 200px;
            }
        </style>
        <header>
            <h1 id="projectTitle"></h1>
        </header>
        <center>
            <div id="submitNewIssue">
                <br />
                <h3>Submit a new issue:</h3>
                <form
                    id="newIssue"
                    method="post"
                    action="/api/"
                    onsubmit="return newIssueSubmission();"
                >
                    <input
                        type="text"
                        name="issue_title"
                        placeholder="*Title"
                        required=""
                        class="bigInput"
                    /><br />
                    <textarea
                        type="text"
                        name="issue_text"
                        placeholder="*Text"
                        required=""
                    ></textarea
                    ><br />
                    <input
                        type="text"
                        name="created_by"
                        placeholder="*Created by"
                        class="smallInput"
                        required=""
                    />
                    <input
                        type="text"
                        name="assigned_to"
                        placeholder="(opt)Assigned to"
                        class="smallInput"
                    />
                    <input
                        type="text"
                        name="status_text"
                        placeholder="(opt)Status text"
                        class="smallInput"
                    /><br />
                    <button type="submit">Submit Issue</button>
                </form>
            </div>

            <div id="issueDisplay"></div>

            <hr />
        </center>

        <script>
            const currentProject = window.location.pathname.replace(/\//g, '');
            const url = '/api/issues/' + currentProject;
            const projectTitle = document.getElementById('projectTitle');
            projectTitle.textContent = 'All issues for: ' + currentProject;
            const issueDisplay = document.getElementById('issueDisplay');

            fetch(url + window.location.search)
                .then((data) => data.json())
                .then((data) => {
                    const issues = [];
                    data.forEach((element) => {
                        console.log(element);
                        const openstatus = element.open ? 'open' : 'closed';
                        const single = [
                            `<div class="issue ${openstatus}">`,
                            `<p class="id">id: ${element._id}</p>`,
                            `<h3>${element.issue_title} -  (${openstatus})</h3>`,
                            '<br>',
                            `<p>${element.issue_text}</p>`,
                            `<p>${element.status_text}</p>`,
                            '<br>',
                            `<p class="id"><b>Created by:</b> ${element.created_by} <b>Assigned to:</b> ${element.assigned_to}</p>`,
                            `<p class="id"><b>Created on:</b> ${element.created_on} <b>Last updated:</b> ${element.updated_on}</p>`,
                            `<br><a href="#" class="closeIssue" id="${element._id}" onclick="closeIssue('${element._id}');return false;">close?</a> <a href="#" class="deleteIssue" id="${element._id}" onclick="deleteIssue('${element._id}'); return false;">delete?</a>`,
                            '</div>',
                        ];
                        issues.push(single.join(''));
                    });
                    issueDisplay.innerHTML = issues.join('');
                });

            /**
             * @param formID{string}
             * @returns {object}
             */
            function getFormData(formID) {
                const formElement = document.getElementById(formID);
                if (formElement) {
                    const data = new FormData(formElement);
                    return Object.fromEntries(data);
                }
                return {};
            }

            function newIssueSubmission() {
                fetch(url, {
                    method: 'POST',
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(getFormData('newIssue')),
                })
                    .then(() => window.location.reload(true))
                    .catch((ex) => console.error(ex));
                return false;
            }

            function closeIssue(id) {
                fetch(url, {
                    method: 'PUT',
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ _id: id, open: false }),
                })
                    // .then((data) => data.text())
                    // .then((data) => console.log('update', data))
                    .then(() => window.location.reload(true))
                    .catch((ex) => console.error(ex));
                return false;
            }

            function deleteIssue(id) {
                fetch(url, {
                    method: 'DELETE',
                    headers: {
                        Accept: 'application/json',
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ _id: id }),
                })
                    .then(() => window.location.reload(true))
                    .catch((ex) => console.error(ex));
                return false;
            }
        </script>
    </body>
</html>
